@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@media only screen and (min-width: 1024px) {
body{
margin: 0;    
background-color: black;
}


.nav-bar{
width: 100%;
height: 70px;
background-color: black;
margin: 0;
padding: 0;
border-bottom: 1px solid #003366;

}


.liste{
display: flex;
flex-flow: row wrap;
font-family: 'Poppins', sans-serif;
font-size: 20px;
justify-content:space-between;

}

.liste li{
 list-style-type: none; 
color: white;
margin-right: 10%;
margin-top: -1.5%;
}

.liste a:hover{
color: lightgray;
}


.liste img{
width: 90px;
margin-top: 2%;




}

.liste a{
color: white;
text-decoration: none;
}

    .guide-kasse{
    width: 80%;
    background-color:#ff4b00; ;
    height: auto;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 10%;
    
    }
    
    .guide-kasse button{
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #003366;
    border-color: #003366;
    font-size: 25px;
    height: 45px;
    margin-top: 20%;
   
   
    }
    
    .guide-kasse button:hover{
    color: lightgray;
    }
    
    .guide-kasse button:visited{
    color: lightgray;
    }
    
    
    .guide-kasse a{
    color: white;
    text-decoration: none;
    }
    
    .guide-kasse a:hover{
    color: lightgray;
    }
    
    .guide-kasse img{
    margin-top:2%;
    margin-bottom: 2%;
    border: 1px solid black;
    width: 99.9%;
    }
    
    .footer-box{

background-color: black;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
}

.footer-list{
list-style-type: none;
}

.footer-list a{
color: white;
font-family:'Poppins', sans-serif;
text-decoration: none;
}

    .footer-list a:hover{
    color: lightgray;
    }
    
    .vertical-linje{
    width: 85%; 
    color: white;
    margin-left: 9%;
    }
    
    .footer-logos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 1%;
    }

    .footer-logos img{
    width: 50px; 
    margin-left: 1.5%;
        border-radius: 40px;

    }
    
    .footer-logos a{
    margin-left: 1.5%;  
        border-radius: 40px;

    }   
    
.footer-logos img:hover{
    background-color: lightgray;
    }
}
    
@media only screen and (min-width:768px) and (max-width:1023px) {
body{
margin: 0;    
background-color: black;
}
    
.nav-bar{
width: 100%;
height: 90px;
background-color: black;
margin: 0;
padding: 0;


}    
    
.liste img{
width: 150px;
border-radius: 40px;
    
}
    
.liste li{
 list-style-type: none; 
color: white;
margin-left: 2%;
margin-top: -1.5%;
}

.liste a{
color: white;
text-decoration: none;
}
    
.liste a:hover{
color: lightgray;
}

.liste{
 font-family: 'Poppins', sans-serif;
font-size: 20px;   
} 

    .guide-kasse{
    width: 80%;
    background-color:#ff4b00; ;
    height: auto;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 10%;
    
    }
    
    .guide-kasse button{
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #003366;
    border-color: #003366;
    font-size: 25px;
    height: 45px;
    margin-top: 20%;
   
   
    }
    
    .guide-kasse button:hover{
    color: lightgray;
    }
    
    .guide-kasse button:visited{
    color: lightgray;
    }
    
    
    .guide-kasse a{
    color: white;
    text-decoration: none;
    }
    
    .guide-kasse a:hover{
    color: lightgray;
    }
    
    .guide-kasse img{
    margin-top:2%;
    margin-bottom: 2%;
    border: 1px solid black;
    width: 80%;
    }
    
    #guide-kasse1{
    margin-top: 31%;
    }
    
    .footer-box{

background-color: black;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
}

.footer-list{
list-style-type: none;
}

.footer-list a{
color: white;
font-family:'Poppins', sans-serif;
text-decoration: none;
}

    .footer-list a:hover{
    color: lightgray;
    }
    
    .vertical-linje{
    width: 85%; 
    color: white;
    margin-left: 9%;
    }
    
    .footer-logos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 1%;
    }

    .footer-logos img{
    width: 50px; 
    margin-left: 1.5%;
        border-radius: 40px;

    }
    
    .footer-logos a{
    margin-left: 1.5%;  
        border-radius: 40px;

    }   
    
.footer-logos img:hover{
    background-color: lightgray;
    }
    
}



@media screen and (max-width:767px){
body{
margin: 0;    
background-color: black;
}
    
.nav-bar{
width: 100%;
height: 90px;
background-color: black;
margin: 0;
padding: 0;


}    
    
.liste img{
width: 150px;
border-radius: 40px;
    
}
    
.liste li{
 list-style-type: none; 
color: white;
margin-left: 2%;
margin-top: -1.5%;
}

.liste a{
color: white;
text-decoration: none;
}
    
.liste a:hover{
color: lightgray;
}

.liste{
 font-family: 'Poppins', sans-serif;
font-size: 20px;   
} 

    .guide-kasse{
    width: 80%;
    background-color:#ff4b00; ;
    height: auto;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 10%;
    
    }
    
    .guide-kasse button{
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #003366;
    border-color: #003366;
    font-size: 25px;
    height: 45px;
    margin-top: 20%;
    
   
   
    }
    
    .guide-kasse button:hover{
    color: lightgray;
    }
    
    .guide-kasse button:visited{
    color: lightgray;
    }
    
    
    .guide-kasse a{
    color: white;
    text-decoration: none;
    }
    
    .guide-kasse a:hover{
    color: lightgray;
    }
    
    .guide-kasse img{
    margin-top:2%;
    margin-bottom: 2%;
    border: 1px solid black;
    width: 80%;
    margin-left: 9.5%;
    }
    
    #guide-kasse1{
    margin-top: 50%;
    }
    
    .footer-box{

background-color: black;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
}

.footer-list{
list-style-type: none;
}

.footer-list a{
color: white;
font-family:'Poppins', sans-serif;
text-decoration: none;
}

    .footer-list a:hover{
    color: lightgray;
    }
    
    .vertical-linje{
    width: 85%; 
    color: white;
    margin-left: 9%;
    }
    
    .footer-logos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 1%;
    }

    .footer-logos img{
    width: 50px; 
    margin-left: 1.5%;
        border-radius: 40px;

    }
    
    .footer-logos a{
    margin-left: 1.5%;  
        border-radius: 40px;

    }   
    
.footer-logos img:hover{
    background-color: lightgray;
    }    
}

@media screen and (max-width:500px){
 body{
margin: 0;    
background-color: black;
}  
    
.nav-bar{
width: 100%;
height: 90px;
background-color: black;
margin: 0;
padding: 0;


}    
    
.liste img{
width: 150px;
border-radius: 40px;
    
}
    
.liste li{
 list-style-type: none; 
color: white;
margin-left: 2%;
margin-top: -1.5%;
}

.liste a{
color: white;
text-decoration: none;
}
    
.liste a:hover{
color: lightgray;
}

.liste{
 font-family: 'Poppins', sans-serif;
font-size: 20px;   
} 

    .guide-kasse{
    width: 80%;
    background-color:#ff4b00; ;
    height: auto;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 10%;
    
    }
    
    .guide-kasse button{
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #003366;
    border-color: #003366;
    font-size: 15px;
    height: 45px;
    margin-top: 20%;
    
   
   
    }
    
    .guide-kasse button:hover{
    color: lightgray;
    }
    
    .guide-kasse button:visited{
    color: lightgray;
    }
    
    
    .guide-kasse a{
    color: white;
    text-decoration: none;
    }
    
    .guide-kasse a:hover{
    color: lightgray;
    }
    
    .guide-kasse img{
    margin-top:2%;
    margin-bottom: 2%;
    border: 1px solid black;
    width: 80%;
    margin-left: 9.5%;
    }
    
    #guide-kasse1{
    margin-top: 82%;
    }
    
    .footer-box{

background-color: black;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
}

.footer-list{
list-style-type: none;
}

.footer-list a{
color: white;
font-family:'Poppins', sans-serif;
text-decoration: none;
}

    .footer-list a:hover{
    color: lightgray;
    }
    
    .vertical-linje{
    width: 85%; 
    color: white;
    margin-left: 9%;
    }
    
    .footer-logos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 1%;
    }

    .footer-logos img{
    width: 50px; 
    margin-left: 1.5%;
        border-radius: 40px;

    }
    
    .footer-logos a{
    margin-left: 1.5%;  
        border-radius: 40px;

    }   
    
.footer-logos img:hover{
    background-color: lightgray;
    }        
    
}
    